// @import url("../color_schemes/cgw.scss");

$grey-dk-075: #646464;
$grey-dk-225: #424242;

//
// Dark mode color swap
//
@media (prefers-color-scheme: dark) {

  $body-background-color: $grey-dk-225;
  $sidebar-color: $grey-dk-200;
  $search-background-color: $body-background-color;
  $table-background-color: $grey-dk-100;
  $code-background-color: $grey-dk-250;
  $code-border-color: $grey-dk-100;
  $feedback-color: darken($sidebar-color, 3%);

  $body-text-color: $grey-lt-100;
  $body-heading-color: $grey-lt-300;
  $search-result-preview-color: $grey-lt-000;
  $nav-child-link-color: $grey-lt-100;
  $base-button-color: $grey-dk-100;

  $border-color: $grey-dk-100;

  //
  // Borders
  //
  .main-header,.site-header {
    border-bottom: $border $border-color;
  }

  .side-bar {
    border-right: $border $border-color;
  }

  // See also: .search-result-previews border-left

  //
  // Main content
  //
  body {
    background-color: $body-background-color;
    color: $body-text-color;
  }

  h1, h2, h3, h4, h5, h6, .site-title {
    color: $body-heading-color;
  }

  code, figure.highlight {
    background-color: $code-background-color;
    border: $border $code-border-color;
  }

  figure.highlight code {
    background-color: $code-background-color;
  }

  .btn {
    background-color: $base-button-color;
  }

  .btn:hover {
    background-color: $grey-dk-075;
  }

  //
  // Search
  //
  .main-header,.search-input,.search-active .search-input,.search-results {
    background-color: $search-background-color;
    color: $body-text-color;
  }

  .search-result:hover, .search-result.active {
    background-color: $grey-dk-100;
  }

  .search-result-rel-url {
    color: $grey-lt-200;
  }

  .search-result-previews {
    color: $grey-lt-200;
    border-left: $border $border-color;
  }

  //
  // Side bar
  //

  .side-bar {
    background-color: $sidebar-color;
  }

  .site-title:hover,.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active{
    background-image: linear-gradient(-90deg, darken($sidebar-color, 2%) 0%, darken($sidebar-color, 1.5) 80%, $sidebar-color 100%);
  }

  .nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    color: $grey-lt-300;
  }

  .nav-list .nav-list-item .nav-list-expander:hover {
    background-image: none;
    // background-color: $grey-dk-225;
  }

  //
  // Tables
  //
  table {
    background-color: $table-background-color;
  }

  thead th,td {
    background-color: $table-background-color;
    border-bottom: $border $grey-dk-200;
    border-left: $border $grey-dk-200;
  }
}

//
// Custom CCS Overrides
//

.btn:focus,.btn:focus:hover {
  box-shadow: 0 0 0 3px rgba(255, 145, 0, 0.25);
}

// currently disfunctional
// .side-bar>*:hover {
//   transition: background-image 1s;
// }

.btn {
  transition: background-color 1s;
}

.btn.btn-primary {
  background-image: none;
  background-color: $green-100;
}

.btn.btn-primary:hover {
  background-image: none;
  background-color: $green-100;
}
